*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: darkgray;
}

.block {
  margin-top: 100px;
  backdrop-filter: blur(5px);
  width: 387px;
  height: 455px;
  background: #FFFFFF;
  box-shadow: 19px 15px 24px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.block img {
  width: 387px;
  border-radius: 8px 8px 0 0;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}


.blocks {
  width: 1300px;
  margin: 0 auto;
}

.all {
  padding: 20px;
  text-align: center;
}

.img img {
  border-radius: 8px;
}

.img {
  background-color: purple;
  border-radius: 8px;
  width: 200px;
  padding: 20px;
  margin: 0 auto;
}
.h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 25px;
  padding-top: 20px;
}

.h3 {
  font-family: 'DM Sans', sans-serif;
  padding-top: 20px;

}