.ul li {
    list-style: none;
    font-size: 30px;
    font-family: 'DM Sans', sans-serif;
    background-color: mediumaquamarine;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

.checkBox{
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ul li:hover {
    cursor: pointer;
    padding: 35px;
    width: 900px;
    align-items: center;
    text-align: center;
    background-color: purple;
}
