.li {
    list-style: none;
    width: 300px;
    height: 300px;
    border: 2px dotted black;
    overflow: hidden;
}

.li a {
    text-decoration: none;
}

.img {
    width: max-content;
    height: max-content;
    margin: 0 auto;
}

.img img {
    width: 200px;
    height: 200px;
    transition: .6s ease-in-out;
}

.img img:hover {
    transform: scale(1.4);
}

.li div p {
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    color: black;
}